@import './base.css';
@import './TodoItemStyles.css';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.headerdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 10px;
}
.newtaskdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50%;
}

.labelstyles {
  white-space: nowrap;
  font-size: large;
}

.inputstyles {
  background: #001524;
  color: #ffffffee;
  font-size: large;
  margin-left: 5px;
  outline: none !important;
  border: 1px solid #063b57;
}
.svgsizes {
  max-width: 22px;
  max-height: 22px;
}
.plusbutton {
  background-color: transparent;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
