.svgsize {
  max-width: 18px;
  max-height: 18px;
}

.editbutton {
  margin-left: 5px;
  cursor: pointer;
}

.checkboxstyles {
  margin-right: 15px;
}

.itemstyle {
  display: flex;
  flex-direction: row;
  color: #ffffffee;
  align-items: center;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: #042131;
  margin-bottom: 10px;
}
.inputstyle {
  background: #001524;
  color: #ffffffee;
  font-size: large;
  outline: none !important;
  width: 30%;
  border: 1px solid #063b57;
}

.completed-task {
  text-decoration: line-through;
}
