@import './base.css';

.svgsize {
  max-width: 18px;
  max-height: 18px;
}

.editbutton {
  margin-left: 5px;
  cursor: pointer;
}

.checkboxstyles {
  margin-left: 5px;
}

.itemstyle {
  display: flex;
  flex-direction: row;
  color: #ffffffee;
  align-items: center;
  font-size: larger;
}
.inputstyle {
  background: var(--color-background);
  color: #ffffffee;
  font-size: large;
}

.completed-task {
  text-decoration: line-through;
}
